/*  your css code here. If applicable */
*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: white;
}

.header
{
	height: 10vh;
	display: flex;
	justify-content: end;
	align-items: center;
	
}
.header img
{
	height: 24px;
	/* padding: 0px; */
	margin: 0px 2vw;
}

a
{
	margin: 0px 2vw;
	color: black;
	text-decoration: none;
}

.header button
{
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	background-color: #4285f4
}

.body
{
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search_bar
{
	width: 50%;
	/* border:2px solid red; */
	height: 30px;
	border-radius: 30px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.footer
{
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f2f2f2;
}

ul
{
	display: flex;
}

li
{
	list-style: none;
	margin: 0 2vw;
}